<!DOCTYPE html>
{% load bootstrap3 %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Starter Template for Bootstrap</title>
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<!-- Custom styles for this template -->
		<link href="/staticfiles/fileApp/css/image_trans.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/staticfiles/fileApp/js/image_trans.js"></script>
	</head>

	<body>

		<div class="container">
			<div class="starter-template">

        <img id="pic" src="/images/bear.jpg" >
        <input id="upload" name="file" accept="image/*" type="file" style="display: none"/>

			</div>

		</div><!-- /.container -->
	</body>
</html>
