{% extends "page_base.html" %}

{% block title %}
滤镜
{% endblock %}

{% block additional %}
<link rel="stylesheet" type="text/css" href="/staticfiles/fileApp/css/image_trans.css">
<script type="text/javascript">
        var rate=1;
                //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
          var MAXWIDTH  = 0;
          var MAXHEIGHT = 0;
          var div = document.getElementById('imghead');
          if(div.style.width){
            var MAXWIDTH  = div.offsetWidth;
            var MAXHEIGHT = div.offsetHeight;
          }

          if (file.files && file.files[0])
          {
              var img = div;
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            var img = div;
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
          }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if(maxWidth){
              rateWidth = width / maxWidth;
              rateHeight = height / maxHeight;

              if( rateWidth > rateHeight )
              {
                  param.width =  maxWidth;
                  param.height = Math.round(height / rateWidth);
              }else
              {
                  param.width = Math.round(width / rateHeight);
                  param.height = maxHeight;
              }
              param.left = Math.round((maxWidth - param.width) / 2);
              param.top = Math.round((maxHeight - param.height) / 2);
            }
            return param;
        }

        function mouseOver(){
          //var div = document.getElementById('openImgBtn');
          //div.setAttribute("class", "pass-portrait-filebtn-hover");
        }

        function mouseOut(){
          //var div = document.getElementById('openImgBtn');
          //div.setAttribute("class", "pass-portrait-filebtn");
        }
</script>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="pass-portrait-openimg">
    <img id="imghead" src="/staticfiles/fileApp/imgs/bear.jpg" class="img-thumbnail"/>
    <input type="file" onchange="previewImage(this)" class="pass-portrait-file" onmouseover="mouseOver()" onmouseout="mouseOut()"/>
  </div>
</div>
<button type="button" class="btn btn-primary"> 转换 </button>
{% endblock %}
