{% extends "page_base.html" %}

{% block title %}
滤镜
{% endblock %}

{% block additional %}
<link rel="stylesheet" type="text/css" href="/staticfiles/fileApp/css/image_trans.css">
<script type="text/javascript" src="/staticfiles/fileApp/js/page.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="pass-portrait-openimg">
    <img id="imghead" src="/staticfiles/fileApp/imgs/bear.jpg" class="img-thumbnail"/>
    <input id="fileUpload" type="file" onchange="previewImage(this)" class="pass-portrait-file" onmouseover="mouseOver()" onmouseout="mouseOut()"/>
  </div>
</div>
<button type="button" class="btn btn-primary" onclick="transFile()"> 转换 </button>
{% endblock %}
